.MS-b_astuces{
    background-color: $MS-bleu;
}
.MS-b_h1{
    font-size: 42px;
}
.MS-b_text{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.MS-item__matiere{

a{
    //width: 100%!important;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    transition: .3s linear;
    //text-transform: uppercase;

}

}
.MS-item__matiere a:hover{
    color: $MS-bleu;
}
.bar{
    position: absolute;
    width: 79px;
    height: 4px;
    background-color: $MS-bleu;
    bottom: 0;
    left: -100px;
    transition: .35s linear;
}
.MS-item__matiere a:nth-child(1):hover ~ .bar{
    left:0;
}

.MS-item__matiere a:nth-child(2):hover ~ .bar{
    left:100px;
}

.MS-item__matiere a:nth-child(3):hover ~ .bar{
    left:200px;
}

.MS-item__matiere a:nth-child(4):hover ~ .bar{
    left:300px;
}

.MS-item__matiere a:nth-child(5):hover ~ .bar{
    left:400px;
}

.MS-item__matiere a:nth-child(6):hover ~ .bar{
    left:500px;
}

.MS-item__matiere a:nth-child(7):hover ~ .bar{
    left:600px;
}

.MS-item__matiere a:nth-child(8):hover ~ .bar{
    left:700px;
}

.MS-item__matiere a:nth-child(9):hover ~ .bar{
    left:800px;
}

.MS-item__matiere a:nth-child(10):hover ~ .bar{
    left:900px;
}
