.MS-nav{
    background: $noir !important;
}
.MS-baniere{
    background-color: $MS-bleu;
}
.MS-item__user{
    border-top: 1px solid rgb(210, 214, 220);
    border-bottom: 1px solid rgb(210, 214, 220);
}
