@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  scroll-behavior: smooth;
}

.MS-bold {
  font-weight: bold;
}

/*

Prices css

*/

@media (min-width: 640px) {
  .sm\:bg-svg-bottom {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='353' height='304'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23D0D5F6' stroke-width='2'%3E%3Cpath d='M180.29 759c102.087-21.62 155.232-61.312 159.437-119.074 6.307-86.643-231.598-17.186-136.358-198 95.241-180.813 181.318-185.29 136.358-298C294.767 31.216 174.04-27.954 33.79 16.8c-93.501 29.836-144.652 140.545-153.453 332.126'/%3E%3Cpath d='M138.3 759c80.083-18.988 121.774-53.846 125.072-104.575 4.948-76.093-181.679-15.094-106.966-173.89C231.118 321.738 298.64 317.808 263.372 218.82c-35.269-98.986-129.974-150.95-239.995-111.646C-49.97 133.378-90.096 230.605-97 398.859'/%3E%3Cpath d='M102.065 761c60.604-16.56 92.153-46.963 94.65-91.208 3.743-66.367-137.488-13.165-80.949-151.664 56.54-138.5 107.638-141.927 80.948-228.261-26.69-86.335-98.359-131.656-181.618-97.376C-40.41 215.345-70.775 300.145-76 446.892'/%3E%3C/g%3E%3C/svg%3E");
  }
}

.toggle_dot {
  top: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle_dot {
  transform: translateX(100%);
  background-color: #0082c8;
}

.bg-gradient {
  background: #667db6;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-base {
  background-color: #0082c8;
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
}

/*

modal

*/

dialog[open] {
  -webkit-animation: appear 0.15s cubic-bezier(0, 1.8, 1, 1.8);
          animation: appear 0.15s cubic-bezier(0, 1.8, 1, 1.8);
}

dialog::-webkit-backdrop {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(54, 54, 54, 0.5));
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

dialog::backdrop {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(54, 54, 54, 0.5));
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*

My modal

*/

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-animation: fadeIn 0.3s both;
          animation: fadeIn 0.3s both;
}

.modal-wrapper {
  overflow: auto;
  background-color: #fff;
  width: 80%;
  /*height: 400px;*/
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  -webkit-animation: slipFromTop 0.4s both;
          animation: slipFromTop 0.4s both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes slipFromTop {
  from {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes slipFromTop {
  from {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(0px);
  }
}

.MS-nav {
  background: #1E2023 !important;
}

.MS-baniere {
  background-color: #476CA4;
}

.MS-item__user {
  border-top: 1px solid #d2d6dc;
  border-bottom: 1px solid #d2d6dc;
}

.MS-b_astuces {
  background-color: #476CA4;
}

.MS-b_h1 {
  font-size: 42px;
}

.MS-b_text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.MS-nav-section {
  font-weight: bold;
}

.MS-nav-section:hover {
  border-bottom: 2px solid black;
  background-color: #fff;
  color: black;
}

.MS-nav-active {
  border-bottom: 2px solid black;
  background-color: #fff;
  color: black;
}

.MS-item__matiere a {
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  transition: 0.3s linear;
}

.MS-item__matiere a:hover {
  color: #476CA4;
}

.bar {
  position: absolute;
  width: 79px;
  height: 4px;
  background-color: #476CA4;
  bottom: 0;
  left: -100px;
  transition: 0.35s linear;
}

.MS-item__matiere a:nth-child(1):hover ~ .bar {
  left: 0;
}

.MS-item__matiere a:nth-child(2):hover ~ .bar {
  left: 100px;
}

.MS-item__matiere a:nth-child(3):hover ~ .bar {
  left: 200px;
}

.MS-item__matiere a:nth-child(4):hover ~ .bar {
  left: 300px;
}

.MS-item__matiere a:nth-child(5):hover ~ .bar {
  left: 400px;
}

.MS-item__matiere a:nth-child(6):hover ~ .bar {
  left: 500px;
}

.MS-item__matiere a:nth-child(7):hover ~ .bar {
  left: 600px;
}

.MS-item__matiere a:nth-child(8):hover ~ .bar {
  left: 700px;
}

.MS-item__matiere a:nth-child(9):hover ~ .bar {
  left: 800px;
}

.MS-item__matiere a:nth-child(10):hover ~ .bar {
  left: 900px;
}

.like {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-image: url("/assets/images/like.png");
  position: absolute;
  top: 100%;
  left: 92%;
  transform: translate(-60%, -50%);
  background-color: aliceblue;
  border-radius: 50%;
  background-size: cover;
}

.anim-like {
  -webkit-animation-name: anim-like;
          animation-name: anim-like;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: steps(28);
          animation-timing-function: steps(28);
}

@-webkit-keyframes anim-like {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}

@keyframes anim-like {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}

